:root {
    --bak-body: #091212;
    --bak-slide: #1d2626;
    --bak-card-slide: #00abb8;
    --color-element-slide: #a4a8a8;
    --color-font-table: #cacccc;
    --bk-close: #475569;
    --in-color: #0f1414;
    --sconder-fnt-color: #edeef0;

    --color-table-main: #121212;
    --colo-table-scondray: #1f1f1f;
    --line: #515151;
}

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    background-color: var(--bak-body);
    display: flex;

}

.slide {
    width: 35%;
    background-color: var(--bak-slide);
    border-right: 1px var(--bak-card-slide) solid;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 2s;
    padding-block: 2vh;
}

.containerparent1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9vw;


}

.title img {
    width: 40px;
}

.title {
    display: flex;
    color: var(--sconder-fnt-color);
    gap: 1vw;
}

label[for="check"] {
    background-color: var(--bk-close);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

label[for=check]:hover {
    transform: translateX(-2px);
    cursor: pointer;
}

input[id="check"] {
    display: none;
}

#check:checked+.slide {
    width: 5%;
}

#check:checked~.slide .title,
#check:checked~.slide .search,
#check:checked~.slide ul p {
    display: none;
}

/* ======= finished navbar the side bar for the web site ========  */
.search {
    padding-inline-start: 1vw;
    padding-block: 3vh;
}

.slide input[type="text"] {
    padding-block: 1vh;
    background-color: var(--in-color);
    border: none;
    color: var(--color-font-table);
    background-image: url("../images/search.svg");
    background-position: 4%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-inline-start: 40px;
    width: 80%;
}


input[type="text"]:focus {
    outline: none;
    border: 1px solid var(--bak-card-slide);
}

/* =========finish the input in sidebar for the website========== */

.list {
    padding-inline: 1vw;
}

.list li svg {
    width: 20px;
    fill: var(--color-element-slide);
}

.list li {
    display: flex;
    justify-content: space-between;
    padding-inline: 1vw;
    padding-block: 2vh;
    margin-block: 2vh;
    color: var(--color-element-slide);
    border: 2px solid transparent;
    transition: 0.5s;
}

.list li div {
    display: flex;
    gap: 1vw;
}

.word,
.num {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: var(--sconder-fnt-color);
    background-color: var(--bk-close);
    width: 4vw;
    text-align: center;
}

.num {
    background-color: red;
    width: 2vw;
}

.list li:hover svg,
.list li:hover div {
    color: var(--bak-card-slide);
    fill: var(--bak-card-slide);
}

.list li:hover {
    border: 2px solid var(--bak-card-slide);
    box-shadow: 0 0 10px 0px var(--bak-card-slide);
    border-radius: 0.5rem;
}

#check:checked~.slide .list li {
    justify-content: center;
    padding-block: 1vh;
}

/*=========== i finish the list in side bar======== */

.line {
    display: flex;
    justify-content: space-between;
    color: var(--color-element-slide);
    fill: var(--color-element-slide);
    padding-inline: 1vw;
    transition: 1.5s;
}

.line svg {
    width: 20px;
    cursor: pointer;
}

.sentence {
    color: var(--sconder-fnt-color);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2vh;
    transition: 1.5s;

}

.sentence p {
    margin-inline-start: 2vw;
    transition: 1.5s;
}

.sentence .first {
    background-color: var(--bak-card-slide);
    border-radius: 0.5rem;
    width: 80%;
    box-shadow: 0 0 8px var(--bak-card-slide);
    padding-block: 2vh;
}

#group {
    opacity: 0;
}

#check:checked~.slide .sentence,
#check:checked~.slide .line {
    opacity: 0;
}

#group:checked+label+.sentence {
    translate: 0 -20px;
    opacity: 0;
}

/* ==== i finish the part 3 in side bar for web site ======= */

.scondelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 8vh;
    margin-block: 4vh;
    border-top: 1px solid var(--color-element-slide);
    margin-inline: 1vw;
}

.scondelist li,
.container {
    display: flex;
    gap: 1vw;
    color: var(--color-element-slide);
    fill: var(--color-element-slide);
    padding-block-end: 1vh;
}

.scondelist svg,
.container svg {
    width: 20px;
}

.container {
    padding: 0 1vw;
}

#check:checked~.slide .container {
    opacity: 0;
}
/* ==========i finish the side bar for mobile========= */
.table{
    width: 100%;
}

.tablecontainer{
    display: flex;
    gap: 1vw;
    color: var(--sconder-fnt-color);
    padding: 2vh 2vw;
}
.linetable{
    display: flex;
    fill: var(--color-element-slide);
    color: var(--color-element-slide);
    gap: 1vw;
}
.table svg{
    width: 20px;
}
/* ======finish the line 1 for part table======= */
.tablecontainer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sconder-fnt-color);
    padding-inline: 2vw;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.containerline2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.img {
    position: relative;
    left: 40px;

}

img[src="./Public/images/WhatsApp Image 2024-03-13 at 19.35.31.jpeg"] {
    position: relative;
    right: 25px;
}

img[src="./Public/images/WhatsApp Image 2024-03-13 at 19.35.49(2).jpeg"] {
    position: relative;
    right: 40px;
}
.add{
    background-color: var(--bak-card-slide);
    padding: 2vh 2vw;
    box-sizing: border-box;
    box-shadow: 0 0 8px var(--bak-card-slide);
    border-radius: 0.5rem;
}
.add + div{
    background-color: var(--bak-slide);
    border: 1px solid var(--sconder-fnt-color);
    padding: 2vh 1vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
/* ==== i finish the line 2 for the part table ======= */
.navicons{
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vw;
}

.side,.side2,.side2 div,.side div{
    display: flex;
    gap: 1vw;
}
.side div,.side2 div{
    background-color: var(--bak-slide);
    border: 1px solid var(--sconder-fnt-color);
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: var(--color-element-slide);
    fill: var(--color-element-slide);
}


.side div:hover, .side2 div:hover{
    background-color: rgba(128, 128, 128, 0.568);
    transform: translateX(-2px);
    cursor: pointer;
}
/* ==== i finish the line 3 for the part table ======= */

table{
    color: white;
    background-color: var(--color-table-main);
    margin: 4vh 2vw;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


}
.tableicon,.person{
    display: flex;
    align-items: center;
    gap:1vw;
}
table td, th{
    padding-block: 2vh;
    width: calc(100%/6); 
    background-color: var(--colo-table-scondray);
    border:var(--line) solid 1px ;
    padding-inline: 10px;

}
th{
    background-color: var(--color-table-main);
}
.git{
    width: 30%;
}
.box{
    width: 5%;
    text-align: center;
}


/* ==========i finish the project for the website=========== */


@media screen and (max-width:480px) {
    body{
        flex-direction: column;
    }
    .slide {
        width: 100%;
        border-bottom: 1px var(--bak-card-slide) solid;
        border-right: none;
        height: 6vh;
    }

    .containerparent1 {
        gap: 45vw;
    }

    #check:checked+.slide {
        width: 100%;
        height: 130vh;
    }

    #check:checked~.slide .title {
        display: flex;
    }

    /* ======= finished navbar the side bar for the mobile ========  */
    #check:checked~.slide .search {
        display: block;
        padding-inline-start: 8vw;
    }

    .search,
    label[for="group"] {
        display: none;
    }

    /*========= finish the input in the side bar for teh mobile================ */


    #check:checked~.slide .list p {
        display: flex;
        justify-content: center;
    }

    #check:checked~.slide .list li {
        justify-content: space-between;
        padding-block: 2vh;
    }

    #check:checked~.slide .list {
        padding-inline: 6vw;
    }

    .slide .list .word {
        width: 10vw;
    }

    .num {
        width: 4vw;
    }

    .list p,
    .list svg {
        display: none;
    }

    #check:checked~.slide .list svg {
        display: flex;
    }

    /*========= finish the list in the side bar for teh mobile================ */
    #check:checked~.slide label[for="group"]{
        display: flex;
    }
    
    .sentence p{
        display: none;
    }
    #check:checked~.slide .sentence p{
        display: flex;
    }
     #check:checked~.slide .line {
        opacity: 1;
        gap: 65vw;
        padding-inline-start: 6vw;
    } 

    #check:checked~.slide .sentence {
        opacity: 1;
        padding-inline-start: 15vw;
        margin-block-start: 5vh;
    }
    
    #group:checked+label+.sentence p {
        opacity: 0;
    }

    /* ==== i finish the part 3 in side bar for  ======= */
    .scondelist{
        opacity: 0;
    }

    #check:checked~.slide .container {
        opacity: 1;
        padding-inline-start: 4vw;
    }
    .container{
        opacity: 0;
    }

    #check:checked~.slide .scondelist {
        opacity: 1;
        margin-inline: 6vw;
    }

    #check:checked~.slide .scondelist p {
        display: flex;
    }
    /* ==========i finish the side bar for mobile========= */
    #check:checked~.table{
        display: none;
    }
    .tablecontainer2{
        flex-direction: column;
        align-items: start;
    }
    .containerline2{
        flex-direction: row-reverse;
        padding-block: 2vh;
        align-items: center;
        gap:4vw
    }
    .img{
        position: relative;
        left: 0px;
    }
    .add{
        padding: 1vh 2vw;
    }
    .add+div{
        padding:1vh 2vw;
    }
    img[src="./Public/images/WhatsApp Image 2024-03-13 at 19.35.49(2).jpeg"]{
        top:1px
    }
    /* ===== finish the line 2 for the mobile in the parte table======= */
    .navicons{
        flex-direction: column;
        gap: 2vh;
    }
    .side2{
        gap: 4vw;
    }
    .side{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
    }
    
    .side div:nth-child(3){
        grid-column: 1 / 3;
    }
    .side2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    /* ===========i finish the line 3 for the mobile in part table ====== */
    td,th{
        width: 500px;
    }
    .containertable{
        overflow-y: scroll;
    }
    .containertable::-webkit-scrollbar-button{
        width:  20vw;
        background-color: #00abb8;
    }
   
}