:root {
    --bak-body: #091212;
    --bak-slide: #1d2626;
    --bak-card-slide: #00abb8;
    --color-element-slide: #a4a8a8;
    --color-font-table: #cacccc;
    --bk-close: #475569;
    --in-color: #0f1414;
    --sconder-fnt-color: #edeef0;
}

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    background-color: var(--bak-body);
    display: flex;

}

.slide {
    width: 25%;
    background-color: var(--bak-slide);
    border-right: 1px var(--bak-card-slide) solid;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-block: 2vh;
    gap: 2vh;
    overflow: hidden;
    transition: 2s;
    padding-inline: 15px;
}

.title img {
    width: 40px;
}

.containerparent1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    gap: 1vw;
}

#check {
    display: none;
}

#check:checked~.slide {
    width: 8%;
}

.slide h1 {
    color: var(--sconder-fnt-color);
}

#check:checked~.slide p,
#check:checked~.slide h1,
#check:checked~.slide input {
    display: none;
}

#check:checked~.slide .containerparent1 {
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.slide .containerparent1 label {
    width: 30px;
    padding-block: 5px;
    background-color: var(--bk-close);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.slide .containerparent1 label:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transform: translateX(-2px);
    cursor: pointer;
}

/* ==== syle the input in slider ========= */

.slide input[type="text"] {
    padding-block: 1vh;
    width: 85%;
    background-color: var(--in-color);
    border: none;
    color: var(--color-font-table);
    background-image: url("../images/search.svg");
    background-position: 4%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-inline-start: 40px;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid var(--bak-card-slide);


}

/* ======= list in slider ========== */

ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    border: 2px solid transparent;
    transition: 0.5s;

}

.list li:hover svg,
.list li:hover div {
    color: var(--bak-card-slide);
    fill: var(--bak-card-slide);
}

.list li:hover {

    color: var(--bak-card-slide);
    border: 2px solid var(--bak-card-slide);
    box-shadow: 0 0 10px 0px var(--bak-card-slide);
    border-radius: 0.5rem;
}

li div {
    display: flex;
    align-items: end;
    gap: 1vw;
    color: var(--color-element-slide);

}

li svg {
    width: 20px;
    fill: var(--color-element-slide);
}

li .word {
    width: 6vw;
    padding-block: 5px;
    background-color: var(--bk-close);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: var(--sconder-fnt-color);
}

li .num {
    width: 2vw;
    padding-block: 1vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--sconder-fnt-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#check:checked~.slide li {
    justify-content: center;

}

/* ========= finish the list slider ============ */
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line svg {
    width: 30px;
    fill: var(--color-element-slide);
    cursor: pointer;
}

.line p {
    color: var(--color-element-slide);
}

.sentence p {
    color: var(--sconder-fnt-color);
    padding: 2vh 1vw;
    margin-bottom: 1vh;
    margin-left: 1vw;


}

.sentence .first {
    background-color: var(--bak-card-slide);
    border-radius: 0.5rem;
    width: 80%;
    box-shadow: 0 0 8px var(--bak-card-slide);
}

.sentence {
    transition: 1.5s;
}

#check:checked~.slide .line {
    display: none;
}

#group {
    opacity: 0;
}

#group:checked+label+.sentence {
    translate: 0 -20px;
    opacity: 0;
}

/* ===============the last section in slide bar===================*/


.scondelist li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: var(--color-element-slide);
    gap: 1vw;
}

.scondelist {
    border-top: 1px solid var(--color-element-slide);
    padding-block: 5vh;
}

/* ====the sconde pate in the last side==== */
.container {
    display: flex;
    color: var(--color-element-slide);
    align-items: center;
    gap: 1vw;
    padding-block-start: 5vh;
}

.container svg {
    width: 30px;
    fill: var(--color-element-slide)
}

#check:checked~.slide .scondelist,
#check:checked~.slide .container {
    display: none;
}

/* ===== parte table ======== */

.table {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
}

.linetable {
    display: flex;
    gap: 1vw;
    color: var(--color-element-slide);
}

.linetable svg {
    width: 20px;
    fill: var(--color-element-slide);

}

.tablecontainer {
    display: flex;
    gap: 1vw;
    color: var(--sconder-fnt-color)
}

/* ========line2 in the parte table========= */

.tablecontainer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.containerline2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.containerline2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img {
    position: relative;
    left: 40px;

}

img[src="./Public/images/WhatsApp Image 2024-03-13 at 19.35.31.jpeg"] {
    position: relative;
    right: 25px;
}

img[src="./Public/images/WhatsApp Image 2024-03-13 at 19.35.49(2).jpeg"] {
    position: relative;
    right: 40px;
}

.add{
    background-color: var(--bak-card-slide);
    padding: 2vh 2vw;
    box-sizing: border-box;
    box-shadow: 0 0 8px var(--bak-card-slide);
    border-radius: 0.5rem;
}
.add + div{
    background-color: var(--bak-slide);
    border: 1px solid var(--sconder-fnt-color);
    padding: 2vh 1vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
/* ======= the line 3 in parte table ======== */

.navicons{
    /* background-color: yellow; */
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}
.navicons svg{
    width: 20px;
}
.sideleft{
    display: flex;
    gap: 1vw;
}
.sideleft div{
    display: flex;
    gap: 1vw;
    background-color: var(--bak-slide);
    border: 1px solid var(--sconder-fnt-color);
    padding: 2vh 1vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: var(--color-element-slide);
    fill: var(--color-element-slide);
}
.sideleft div:hover{
    background-color: rgba(128, 128, 128, 0.568);
    transform: translateX(-2px);
    cursor: pointer;
}
